
<!-- Allows for user to login in -->
{% if request.user.is_authenticated %}
<p>{{request.user}}</p>
<a href="{% url 'logout' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %}

<hr>
<h1>My Goals</h1>
<!--Here is where all the goals created by the user are listed-->
<a href="{% url 'goal-create' %}">Add Goal</a>

<table>
    <tr>
        <th>To do</th>
        <th></th>
        <th></th>
    </tr>
    {% for goal in goals %}
    <tr>
        <td>{{goal.title}}</td>
        <td><a href="{% url 'goal' goal.id %}">View</a></td>
        <td><a href="{% url 'goal-update' goal.id %}">Edit</a></td>
        <td><a href="{% url 'goal-delete' goal.id %}">Delete</a></td>
    </tr>
    {% empty %}
    <h3>No goals in list</h3>
    {% endfor %}
</table>